DOCKER_NETWORK=172.20.0.

# 사용할 TrainIds 선택
# - 모든 클래스 사용: ALL
# - 아니면 인덱스(0~18) 공백으로
LABEL=ALL
# LABEL=0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

# 이미지 사이즈 -> 256x256, 원본 1280x760
INPUT_SHAPE=432 768 3

# 이미지 전체 셔플 강도 (0=원래 순서, 1=완전 랜덤)
SHUFFLE_INTENSITY=0

# 전체 데이터 중 Global Test로 뺄 비율
GLOBAL_TEST_RATIO=0.1

# 전체 데이터 중 Server로 뺄 비율
SERVER_RATIO=0.1

# 클라이언트 수
CLIENT=3

# 클라이언트별 전체 비율
RATIO=1 1 1

# 각 클라이언트 내부에서 train:test 비율
# 0.8=train 80%, test 20%
TR_RATIO=0.8 0.8 0.8

# 작을수록 더 극단 Non-IID
DIRICHLET_ALPHA=0.1