CLIENT=2
DOCKER_NETWORK=172.20.0.
LABEL="ALL"
RATIO="1 2"
TR_RATIO="0.8 0.8"
SHUFFLE_INTENSITY=0.8

# LABEL Can be "0 1 2" ... or "ALL"
# RATIO is the ratio of the number of clients in the training set to the number of clients in the dataset
# TR_RATIO is the ratio of the number of training samples to the number of test samples
# SHUFFLE_INTENSITY is the intensity of the shuffling
