__pycache__/
.idea
.vscode
.DS_Store
.env
SYNTHIA_Splitted/
SYNTHIA
node_modules/
*.csv
Server/config.json
results/Client*
results/Server
graphs
docker-compose.yaml
Client/build
Client/dist
*.spec
splitting_info.txt
*.png